body {
  font-family: "Monotype Corsiva", sans-serif;
  background-color: #fbfa74/* фон  */
}

.container {
  padding: 0 40px;
  margin-left: 80px;
}

/* Свойства ссылок */
a{
  font-size: 25px;
  display: block;
  text-decoration: none;
  margin-bottom: 1.2em;
  position: relative;
}

  /* Что делать при наведении на ссылку */
a:hover {
  color: orangered;
}

/* Этим свойством добавляем подчеркивание через создание псевдокласса */
a::after {
  content: ""
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(1.5em);
  border-bottom: 1px solid #dadada;
  width: 300px;
}

/* переход цвета по прямой линии */
h1 {
  font-size: 45px;
  font-weight: 500;
  background-image: linear-gradient(to left, #dcbe98, #544736);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

h2 {
  font-size: 35px;
  font-weight: 500;
  background-image: linear-gradient(to left, #dcbe98, #544736);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

button {
  appearance: none;
  border: 3;
  border-radius: 15px;
  background: #b3864d;
  color: #1f180e;
  padding: 8px 36px;
  font-size: 15px;
}

/*Свойства фотографии*/
.photo {
  border-radius: 100px;

/* Радиус скругления */
  border: 2px solid transparent;

/* Параметры рамки */
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, "52%");
  object-fit: cover;
}

/*Эффект наведения на картинку */
.photo:hover {
  border: 2px solid #39352a;
}
p {
  font-size: 25px;
  font-weight: 500;
  background-image: linear-gradient(to left, #dcbe98, #544736);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}